<div class="footer-container">
  <hr />
  <div class="github-footer">
    <center>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/DPDK/dpdk.git" data-icon="octicon-cloud-download" aria-label="Download DPDK on GitHub">Download</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/DPDK/dpdk" data-icon="octicon-star" data-show-count="false" aria-label="Star DPDK on GitHub">Star</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/DPDK/dpdk/fork"   data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork DPDK   on GitHub">Fork</a>

    </center>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </div>
  <div class="lf-footer">
    <div>
    © DPDK Project. LF Projects, LLC uses various trademarks. For our trademark, privacy and antitrust policies, code of conduct and terms of use, please click the applicable link below or see www.lfprojects.org.
    </div>
    <div style="margin-top: 5%">
  <a href="https://lfprojects.org/policies/terms-of-use/">Terms of Use</a> |   <a href="https://lfprojects.org/policies/privacy-policy/">Privacy Policy</a> | <a href="https://lfprojects.org/policies/code-of-conduct/">Code of Conduct</a> | <a href="https://lfprojects.org/policies/trademark-policy/">Trademark Policy</a> | <a href="https://lfprojects.org/policies/antitrust-policy/">Antitrust Policy</a>
    </div>
  </div>
</div>
